<!DOCTYPE html>
<html>
    <head>
        <link href="styles.css" rel="stylesheet">
        <title>Alexandre vale</title>
    </head>
    <body>
        <div class="header">
            <h1>Nome: Alexandre Vale</h1>
            <h2>Idade: 22 Anos</h2>
        </div>
        <div class="support">
            <div class="contato">
                <h3>Contato</h3>
                <p>Avenida Jose Bonifacio, 1351, Apto11 Bloco B</p>
                <p>(11)98844-7500</p>
                <p>v-alexan@hotmail.com</p>
                <h3>Links</h3>
                <a href="www.linkedin.com/in/alexandre-vale-65a7b0176">Linkedin</a><br>
                <a href="www.github.com/Alexandre-vale">Github</a>
            </div>
            <div class="competencias">
                <h3>Principais Competencias</h3>
                <p>Inglês<br>Python<br>Node.js<br>.NET</p>
            </div>
        </div>
        <div class="main">
            <h2>Resumo</h2>
            <p>Sou um estudante de ciência da computação e developer fullstack
                Estudando em IFSP-Salto Proficiência em inglês</p>
            <h2>Formação</h2>
            <p>Instituto Federal de Educação, Ciência e Tecnologia de São Paulo <br> Bacharelado, Ciência da computação(2019-2023)</p>
            <h2>Experiência</h2>
            <p>Dev-Ops<br>Kumulus Cloud Computing<br> Desde 2021</p>
        </div>
    </body>
</html>